<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Problema</title>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"></script>
    <link rel="stylesheet" href="/static/create.css">
</head>

<body>

<div class="container">

<h1>
    {% if problem %}
        Editar Problema
    {% else %}
        Novo Problema
    {% endif %}
</h1>

<form
    {% if problem %}
        hx-put="/updateProblem"
    {% else %}
        hx-post="/createProblem"
    {% endif %}
    hx-target="#mensagem"
>

    {% if problem %}
        <input type="hidden" name="id" value="{{ problem.id }}">
    {% endif %}

    <label>Título:</label>
    <input name="title" type="text" value="{{ problem.title if problem else '' }}" required>

    <label>Categoria:</label>
    <input name="category_name" type="text" value="{{ problem.category.name if problem else '' }}" required>

    <label>Dificuldade:</label>
    <select name="difficulty">
        <option {% if problem and problem.difficulty == "Muito Fácil" %}selected{% endif %}>Muito Fácil</option>
        <option {% if problem and problem.difficulty == "Fácil" %}selected{% endif %}>Fácil</option>
        <option {% if not problem or problem.difficulty == "Médio" %}selected{% endif %}>Médio</option>
        <option {% if problem and problem.difficulty == "Difícil" %}selected{% endif %}>Difícil</option>
        <option {% if problem and problem.difficulty == "Muito Difícil" %}selected{% endif %}>Muito Difícil</option>
    </select>

    <label>Enunciado:</label>
    <textarea name="statement" rows="10" required>{{ problem.statement if problem else '' }}</textarea>

    <button type="submit" class="button-primary">Salvar</button>
</form>

<div id="mensagem"></div>

<br>

<a href="/">
    <button class="button-secondary">Voltar</button>
</a>

</div>

</body>
</html>